* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-coccion {
    width: 100%;
    height: 300px;
    overflow: hidden;
    line-height: 0;
    position: relative;
    border-top: 2px solid #065799;
}

.seccion-prod {
    width: 100%;
    padding: 0 15px;
    margin: 0px 10px 0px 50px;
    /* line-height: 0; */
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    /* z-index: 8; */
}

.titulo-coccion > img {
    width: 100%;
    height: auto;
    filter: blur(1.5px);
}
.seccion-prod > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    /* position: relative;
    transform: translate(50%, -50%);
    top: 100px;
    right: 600px; */
    text-shadow: 0 0 4px rgb(0 0 0 / 70%);
    
}

.productos {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.producto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    
}
.subtitulo {
    width: 100%;
    margin: 30px 5px;
}
.subtitulo > h3 {
    border-bottom: 3px solid ;
    border-image: linear-gradient(45deg, #065799, #2d88b6) 1;
}
.nombre-producto {
    font-weight: bolder;
    text-align: center;
}
.imagen-prod {
    width: 50%;
    height: 300px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    overflow: hidden;
    margin: 10px;
}

.imagen-prod > img {
    width: 100%;
    height: auto;
}

.descripcion-corta {
    margin: 5px 5px 20px 5px;
    padding: 5px;
}

.descripcion-corta span {
    color: #c92519;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.descripcion-corta span:hover {
    color: #fa1505;
    cursor: pointer;
}

.ventana-modal {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   padding-top: 80px;
}

.mostrar {
    pointer-events: auto;
    opacity: 1;
}

.moda {
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;   
}

.contenedor-mod-gri {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.contenedor-mod-gri .boton-titulo,
.contenedor-mod-gri .img-modal,
.contenedor-mod-gri .caracteristicas,
.contenedor-mod-gri .tablas {
    padding: 20px;
    border-radius: 3px;
}

.contenedor-mod-gri .boton-titulo {
    grid-column-start: 1;
    grid-column-end: -1;
}
.boton-titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.boton-titulo button {
    border: none;
    background: none;
    font-size: 30px;
    margin-right: 50px;
}

.boton-titulo button:hover {
    color: rgb(45, 136, 182);
    filter: drop-shadow(0 2px 3px rgba(45, 136, 182, 0.7));;
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.caracteristicas ul {
    text-align: left;
}
.tablas {
    align-items: center;
}
.consumo {
    margin-bottom: 5px;
}
.tablas tr, .tablas td {
    border: 1px solid #000;
    padding: 5px;
}

.tablas td p {
    margin: 0;
}

.tablas tr {
    background-color: #ddd;
}

@supports(object-fit: cover){
    .imagen-prod img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .titulo-coccion > img {
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
    }

}

@media screen and (max-width: 500px) {
    
    h2 {
        right: 280px;
        font-size: 2.5rem;
        margin-left: 220px; 
    }
    .productos {
        margin-top: 150px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    .imagen-prod {
        width: 100%;
        height: 360px;
    }
    .contenedor-mod-gri {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    
    .contenedor-mod-gri .boton-titulo,
    .contenedor-mod-gri .img-modal,
    .contenedor-mod-gri .caracteristicas,
    .contenedor-mod-gri .tablas {
        padding: 20px;
        border-radius: 3px;
    }
    
    .contenedor-mod-gri .boton-titulo {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .boton-titulo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .boton-titulo button {
        border: none;
        background: none;
        font-size: 30px;
        margin-right: 50px;
    }
    
    .boton-titulo button:hover {
        color: rgb(45, 136, 182);
        filter: drop-shadow(0 2px 3px rgba(45, 136, 182, 0.7));;
    }
    
    .caracteristicas {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .caracteristicas ul {
        text-align: left;
    }
    .tablas {
        align-items: center;
    }
    .consumo {
        margin-bottom: 5px;
    }
    .tablas tr, .tablas td {
        border: 1px solid #000;
        padding: 5px;
    }
    
    .tablas td p {
        margin: 0;
    }
    
    .tablas tr {
        background-color: #ddd;
    }

}