* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-coccion {
    width: 100%;
    height: 300px;
    overflow: hidden;
    line-height: 0;
    position: relative;
    border-top: 2px solid #065799;
}

.seccion-prod {
    width: 100%;
    padding: 0 15px;
    margin: 0px 10px 0px 50px;
    /* line-height: 0; */
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 10;
}

.titulo-coccion > img {
    width: 100%;
    height: auto;
    filter: blur(1.5px);
}
.seccion-prod > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    color: #ffffff;
    /* position: relative;
    transform: translate(50%, -50%);
    top: 100px;
    right: 600px; */
    text-shadow: 0 0 4px rgb(0 0 0 / 70%);
    
}

.productos {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.producto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}
.subtitulo {
    width: 100%;
    margin: 30px 5px;
}
.subtitulo h3 {
    border-bottom: 3px solid ;
    border-image: linear-gradient(45deg, #065799, #2d88b6) 1;
}
.nombre-producto {
    font-weight: bolder;
    text-align: center;
}
.imagen-prod {
    width: 50%;
    height: 300px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    overflow: hidden;
    margin: 10px;
}

.imagen-prod > img {
    width: 100%;
    height: auto;
}

.descripcion-corta {
    margin: 5px 5px 20px 5px;
    padding: 5px;
}

.descripcion-corta a {
    color: #c92519;
    text-decoration: none;
}

.descripcion-corta a:hover {
    color: #fa1505;
    cursor: pointer;
}

@supports(object-fit: cover){
    .imagen-prod img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .titulo-coccion > img {
        height: 100%;
        object-fit: cover;
        object-position: bottom right;
    }

}

@media screen and (max-width: 500px) {
    
    h2 {
        right: 280px;
        font-size: 2.5rem;
        margin-left: 220px; 
    }
    .productos {
        margin-top: 150px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    .imagen-prod {
        width: 100%;
        height: 360px;
    }
}