* {
    margin: 0;
    padding: 0;
}
.header {
    padding: 20px 10px;
    background: #c92519;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #065799;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
} 
.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    float: left;
    margin: 10px 30px;
} 
.logo {
    float: left;
    height: 100px;
    width: 100%;
}
.logo > img {
    object-fit: contain;
    max-width: 150px;
    max-height: 100%
}
.header a {
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
.link {
    position: relative;
}

.link:after {
    content: "";
    width: 0;
    height: 4px;
    background-color: #2d88b6;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

.link:hover:after {
    width: 100%;
    right: 0;
}

.btn-desplegar {
    display: none;
    background: none;
    border: none;
    float: right;
    font-size: 25px;
    color: rgb(255, 255, 255);
    transform: rotate(90deg);
    
}

.btn-rotate {
    transform: rotate(0deg);
}

.header-right {
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-right li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}
.header-right > li {
    float: left;
}

.header-right li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    z-index: 11;
}

.header-right li:hover > ul {
    display: block;
}

.sub-menu {
    list-style: none;
    background-color: #c92519;
    border-radius: 0 0 10px 10px;
    padding: 0;
}

.sub-menu li a {
    text-align: left;
    margin: 0;
}
.social {
    gap: 40px;
}
@media screen and (max-width: 500px) {
    .header {
        display: block;
        height: auto;
        width: 100%;
    }
    .header-menu{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 100px;
        float: none;
    }
    .logo {
        height: 100px;
    }
    .btn-desplegar {
        display: block;
        
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
      flex-direction: column;
      display: flex;
      margin: 0 0 0 20px;
    }
}